.header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 72px;
    width: 100%;
    top: 0;
    left: 0;
  
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  }
  
  .header__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }

  /* -------AUTH-------- */
  
  .header__info__auth {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.3em;
  }
  
  .header__info__auth__signin__btn {
    border: 1px solid #e0e0e0;
    border-radius: 0.2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 0.85em;
    padding-block: 0.75em;
    padding-inline: 1.6em;
    background-color: transparent;
  }
  
  .header__info__auth__register__btn {
    background-color: #000000;
    color: white;
    border-radius: 0.2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 0.85em;
    padding-block: 0.75em;
    padding-inline: 1.4em;
  }
  
  .header__busket {
    width: 1.6em;
  }
  
  /* -------DELIVERY--------- */
  .header__info__delivery {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Roboto', 'sans-serif';
    gap: 0.8em;
  }
  
  .header__info__delivery__speed {
    font-size: 1em;
    padding: 0.5em;
    text-align: center;
    width: 4em;
    border: 1px solid #e0e0e0;
    outline: none;
  }
  
  .header__info__delivery__where {
    font-size: 1em;
    color: #626262;
  }
  
  .header__info__delivery__address {
    display: flex;
    align-items: center;
    border: 1px solid #e0e0e0;
    padding: 0.45em;
  }
  
  .header__info__delivery_address__icon {
    width: 0.9em;
    color: #262626;
    margin-inline: 0.5em;
  }
  
  .header__info__delivery__address__input {
    border: none;
    outline: none;
    font-size: 1em;
  }
  